

.navbar{
  padding: 10px;
  height: 70px;
  width: 100%;
  background-color:#fff;
  border: 1px solid cadetblue;


}

.subnav{
  display: flex;
  justify-content: flex-end;
  font-weight: 500;


}
.two{
  width: 35rem;
  /* border: 1px solid black; */
  gap: 20px ;
  display: flex;

}

.search{
  border: 0;
  outline: none;
  height: 40px;
  width: 100% ;
  background-color: transparent;
}

.others{
  width: 48rem;
  gap: 25px;
  display: flex;
  justify-content: end;
  align-items: center;
}
/*
.login{
font-weight: 500;
color: #d1d8e0;
font-size: 18 px;
} */
