<div class="navbar navbar-expand-lg">
  <div class="subnav">
    <div class="two">
      <div class="logo">
        <img
          src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/fkheaderlogo_exploreplus-44005d.svg"
          alt="flipkart logo"
        />
      </div>
      <div class="search">
        <input class="form-control"   type="search"  placeholder="Search for Products, Brands and More" />
      </div>
    </div>
    <div class="others">
      <div class="login">
        <img
          src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/profile-52e0dc.svg"
          alt="login"
        />
        <label class="Loginfont">Login</label>
      </div>
      <div class="cart">
        <img
          src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/header_cart-eed150.svg"
          alt="cart"
        />
        <label for="seller">Cart</label>
      </div>
      <div class="seller">
        <img
          src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/Store-9eeae2.svg"
          alt="seller"
        />
        <label for="seller">Become a seller</label>
      </div>
    <div class="notify">...</div>
    </div>
  </div>
</div>
<app-products></app-products>
